/* font family variable */
$header-font: Poppins Bold, sans-serif;
$body-font: Lato, serif;

/* font size variable */
$body-size: 1rem;
$header-size: calc(2 * $body-size);

$body-line-height: 2;

/* color variables*/
$background-color: #F2F2F2;
$button-bg-color: #59331D;

